{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center mb-5">
    <div class="border border-dark-subtle mt-5 d-flex flex-column justify-content-center align-items-center border-2 bg-light shadow" style="min-height: 300px;">
        <img src="static/blankProfile.png" alt="athlete photo" class="img-fluid rounded mx-auto d-block" height="50" width="100">
        <p class="mt-2 text-center fw-bold">Justin</p>
        <form action="/dashboard" method="POST">
            <div class="d-flex align-items-center justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="pick1" id="underBtn1" value="False">
                    <label for="underBtn1" class="btn btn-outline-primary mr-3">Under</label>
                    
                    <p class="mx-2">avg</p>
                    
                    <input type="radio" class="btn-check" name="pick1" id="overBtn1" value="True">
                    <label for="overBtn1" class="btn btn-outline-primary ml-3">Over</label>
                </div>
            </div>
            
        </form>
    </div>
    <div class="border border-dark-subtle mt-5 d-flex flex-column justify-content-center align-items-center border-2 bg-light shadow" style="min-height: 300px;">
        <img src="static/blankProfile.png" alt="athlete photo" class="img-fluid rounded mx-auto d-block" height="50" width="100">
        <p class="mt-2 text-center fw-bold">Athlete 2 Name</p>
        <form action="/dashboard" method="POST">
            <div class="d-flex align-items-center justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="pick2" id="underBtn2" value="False">
                    <label for="underBtn2" class="btn btn-outline-primary mr-3">Under</label>
                    
                    <p class="mx-2">avg</p>
                    
                    <input type="radio" class="btn-check" name="pick2" id="overBtn2" value="True">
                    <label for="overBtn2" class="btn btn-outline-primary ml-3">Over</label>
                </div>
            </div>
            
        </form>
    </div>
    <div class="border border-dark-subtle mt-5 d-flex flex-column justify-content-center align-items-center border-2 bg-light shadow" style="min-height: 300px;">
        <img src="static/blankProfile.png" alt="athlete photo" class="img-fluid rounded mx-auto d-block" height="50" width="100">
        <p class="mt-2 text-center fw-bold">Athlete 3 Name</p>
        <form action="/dashboard" method="POST">
            <div class="d-flex align-items-center justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="pick3" id="underBtn3" value="False">
                    <label for="underBtn3" class="btn btn-outline-primary mr-3">Under</label>
                    
                    <p class="mx-2">avg</p>
                    
                    <input type="radio" class="btn-check" name="pick3" id="overBtn3" value="True">
                    <label for="overBtn3" class="btn btn-outline-primary ml-3">Over</label>
                </div>
            </div>
            
        </form>
    </div>
</div>
<form action="/dashboard" method="POST">
    <div class="d-grid gap-2 ">
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </div>
</form>

{% endblock %}