{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="/submit-picks" method="POST">
    <div class="">
        <img src="static/blankProfile.png" alt="athlete photo">
        <p class="bold">Athlete 1 Name</p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="pick1" id="underBtn1" value="false">
                <label for="underBtn1" class="btn btn-outline-primary">Under</label>
                <p>avg</p>
                <input type="radio" class="btn-check" name="pick1" id="overBtn1" value="true">
                <label for="overBtn1" class="btn btn-outline-primary">Over</label>
            </div>
    </div>
    <div class="">
        <img src="static/blankProfile.png" alt="athlete photo">
        <p class="bold">Athlete 2 Name</p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="pick2" id="underBtn2" value="false">
                <label for="underBtn2" class="btn btn-outline-primary">Under</label>
                <p>avg</p>
                <input type="radio" class="btn-check" name="pick2" id="overBtn2" value="true">
                <label for="overBtn2" class="btn btn-outline-primary">Over</label>
            </div>
    </div>
    <div class="">
        <img src="static/blankProfile.png" alt="athlete photo">
        <p class="bold">Athlete 3 Name</p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="pick3" id="underBtn3" value="false">
                <label for="underBtn3" class="btn btn-outline-primary">Under</label>
                <p>avg</p>
                <input type="radio" class="btn-check" name="pick3" id="overBtn3" value="true">
                <label for="overBtn3" class="btn btn-outline-primary">Over</label>
            </div>
    </div>
    <div>
        <p>Who will win?</p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="winner" id="homeBtn" value="true">
            <label for="homeBtn" class="btn btn-outline-primary">Home</label>
            <input type="radio" class="btn-check" name="winner" id="awayBtn" value="false">
            <label for="awayBtn" class="btn btn-outline-primary">Away</label>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
    </form>
</div>



{% endblock %}