{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="home login">
    <h1 class="headerhome text-center">Spectator Contact Form</h1>
    <form method="POST" action="/">
        <div class="mb-3">
            <input type="text" class="form-control" id="first-name" name="first-name" placeholder="First Name" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last Name" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="mb-3">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required>
        </div>
        <div class="mx-auto mb-3">
            <div class="form-check form-check-inline mr-300">
                <input class="form-check-input" type="checkbox" value="False" id="weather-updates" name="weather-updatews">
                <label class="form-check-label" for="weather-updates">
                  Receive Weather Updates (SMS)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="False" id="future-game-updates-SMS" name="future-game-updates-SMS">
                <label class="form-check-label" for="future-game-updates-SMS">
                  Receive Info on Upcoming Games (SMS)
                </label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="False" id="future-game-updates-email" name="future-game-updates-email">
                <label class="form-check-label" for="future-game-updates-email">
                    Reveive Info on Upcoming Games (email)
                  </label>
            </div>
        </div>
        <div class="d-grid gap-2 ">
            <button type="submit" class="button-primary btn btn-primary">Submit</button>
        </div>
        
    </form>
</div>
{% endblock %}
